$orion-namespace: null !default;

$orion-breakpoints: (
  base: 0,
  xs: 430px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
) !default;

$orion-max-width: 2400px;
$orion-max-stretch-width: map-get($map: $orion-breakpoints, $key: 'xl') + 300px;
