@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700&display=swap');

$font-primary: 'Montserrat', sans-serif;

body {
  // color: $color-black-2;
  font-family: $font-primary;
  font-size: 16px;
  font-weight: 300;
  line-height: (24/16);
}
