<script type="text/x-template" id="settings">
  <div class="settings">
    <div class="settings__header">
      <a class="settings__open"  @click="handleOpen">
        <span>Settings</span>
        <svg height=24 width=24>
          <use xlink:href="#arrow-right" href="#arrow-right"/>
        </svg>
      </a>
    </div>
    <div class="settings__content" :class="{'settings__content--open': opened}" >
      <p>Choose search type :-)</p>
      <p>You can choose one of the following:</p>
      <form class="settings__form">
        <div class="settings__form-item">
          <label for="user-login">Search in users login</label>
          <input type="radio" id="user-login" value="user-login" v-model="picked">
        </div>
        <div class="settings__form-item">
          <label for="user-email">Search in users e-mail</label>
          <input type="radio" id="user-email" value="user-email" v-model="picked">
        </div>
        <div class="settings__form-item">
          <label for="user-name">Search in users real name</label>
          <input type="radio" id="user-name" value="user-name" v-model="picked">
        </div>
        <span>Picked: {{picked}}</span>
        <button class="settings__submit" type="submit" @click.prevent="onSubmit($event)">Zapisz</button>
      </form>
      <p>default setting is searching by users login</p>
    </div>
  </div>
</script>
