<script type="text/x-template" id="users-search">
  <section @submited="onSearch($event)">
    <header>
      <img src="../images/GitHub_Mark.png" />
      <h1>GitHub's Users Search Engine</h1>
    </header>
    <Settings v-if="showSettings === true"/>
    <main>
      <search-input />
      <UsersList 
        v-if="users && users.length > 0"
        :users="users"
      />
      <p v-else-if="submitted === true" class="users-search__not-found">Nothing found :-(</p>
    </main>
  </section>
</script>

<div id="users-search-wrapper">
  <users-search>

  </users-search>
</div>
